{{< layout/multistep}}
{{$content}}
<h2>Order Summary</h2>

<table>
    <tr><th>Items</th><th>Description</th></tr>
    {{#items}}
    <tr><td>{{i}}</td><td>{{value}}</td></tr>
    {{/items}}
    <tr><td><b>Special Instructions</b></td><td>{{instructions}}</td></tr>
</table>

<p><b>Total Cost:</b> {{total}}</p>
{{/content}}
