<h3>Kohana-WP: Practical Application Development</h3>
<em>Do the easy with WordPress. Make the complex easy with Kohana.</em>
<p></p>
<p>Application DOCROOT:<br/><b><code>{{file}}</code></b></p>

{{> shared/_footer}}
