<h2>Kohana-WP</h2>
<h3>Practical Application Development</h3>
<em>Do the easy with WordPress, Make the complex easy with Kohana MVC</em>
        
<p>Hello, world! My source is here: <br/><b><code>{{file}}</code></b></p>

{{> shared/_footer}}