<input type="hidden" name="kwp[noncename]" value="{{nonce}}" />

<p><strong>{{route_label}}</strong></p>
<input type="text" name="kwp[route]" style="width: 100%;" value="{{route}}" />
<p>format: app/controller(/action(/args))</p>

<p><strong>{{output_label}}</strong></p>
{{{kwp_placement_dropdown}}}