<style type="text/css">
    #navmenu {
        padding: 4px 0 4px 0;
        border-bottom: solid thin #CCCCCC;
    }

    #navmenu ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        list-style-image: none;
    }

    #navmenu li {
        margin: 4px;
        display: inline;
        border-top: solid thin #CCCCCC;
        border-left: solid thin #CCCCCC;
        border-right: solid thin #CCCCCC;
        padding: 5px 0 5px 0;

    }

    #navmenu ul li a {
        text-decoration: none;
        margin: 0px;
        padding: 5px 25px 5px 25px;
        background: #EEEEEE;
    }

    #navmenu ul li a:hover {
        background: #FFFFFF;
    }

    #navmenu .active {
        text-decoration: none;
        margin: 0;
        padding: 5px 25px 5px 25px;
        background: #FFFFFF;
    }
</style>

<div class="wrap">
    <div class="wrap nosubsub">
       <div id="icon-edit-pages" class="icon32"><br /></div>

        <h2>Kohana-WP Control Panel</h2>

        <p>
            The Kohana-WP plugin allows you to seamlessly use the Kohana MVC to build admin pages, enhance posts,
            etc. No more excuses. The complex is easy. The impossible doable. To learn more about Kohana
            see <a href="http://kohanaphp.com/">http://kohanaphp.com</a>
        </p>

        <br class="clear" />

        <div id="navmenu">
            <ul>
                {{#nav_list}}
                    <li><a class="{{class}}" href="{{&href}}">{{caption}}</a></li>
                {{/nav_list}}
            </ul>
        </div>
        
        {{& content}}
    </div>
</div>