<div>
    <h3>Generate</h3>

    <div class="postbox">
        <h4>Skeleton Application</h4>
        <p>Generates a simple "Hello, World!" application using Mustache templates.</p>
        <form action="{{controller_url}}/generate">
            <p>
                <label for="app[name]">Name Your Application</label><br/>
                <input id="app[name]" name="app[name]"></input>
            </p>

            <p>
                <input class="button" type="submit" value="Generate Application"/>
            </p>
        </form>
    </div>

</div>